<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ajaxlayout.html}">
<body layout:fragment="ajax-content">
    <th:block th:if="${chk_show_profil_dialog}">
    <div class="modal fade" id="profilUtilDialog" tabindex="-1" data-backdrop__="static"
         data-keyboard__="false" role="dialog" style="display: none; font-size: 1.1em;" aria-hidden="true">
        <div class="modal-dialog modal-lg pulse animated" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Consultation / Modification des profils.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4"><div class="form-group"><label class="control-label">Login ID</label> <input type="text" class="form-control" readonly th:value="${user.login}"></div></div>
                        <div class="col-md-4"><div class="form-group"><label class="control-label">Matricule</label> <input type="text" class="form-control" readonly th:value="${user.agent.matricule}"></div></div>
                        <div class="col-md-4"><div class="form-group"><label class="control-label">Adresse email</label> <input type="text" class="form-control" readonly th:value="${user.agent.emailAddress}"></div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><div class="form-group"><input type="text" class="form-control" readonly th:value="${user.fullname}"></div></div>
                    </div>
                    <table class="table table-striped table-bordered w-100">
                        <thead>
                            <tr>
                                <th class="text-center">Code</th>
                                <th class="text-center">Profil</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Activé ?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SUPER</td>
                                <td>SUPER ADMINISTRATEUR</td>
                                <td>29/01/2023</td>
                                <td>
                                    <div class="switch-field">
                                        <input type="radio" id="status-actif" name="status" value="1" />
                                        <label for="status-actif">Oui</label>
                                        <input checked type="radio" id="status-desactive" name="status" value="0" />
                                        <label for="status-desactive"><b>Non</b></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button style="font-size: 1em;" type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    <button style="font-size: 1em;" type="button" class="btn btn-success">Valider les modifications</button>
                </div>
            </div>
        </div>
    </div>
    <script>$('#profilUtilDialog').modal('show');</script>
    </th:block>
</body>