<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{mainlayout.html}">
<head><title>Résultat d'une demande d'ouverture de compte</title></head>
<body class="fixed-left">
<section layout:fragment="core-content">
    <div class="row" th:replace="~{fragments/includes.html :: formRequiredArea}"></div>
    <form id="form" name="myform" class="" method="POST" th:action="@{${cible}}" th:object="${Form}">
        <input type="hidden" th:field="*{id}"/>
<!--        <input type="hidden" th:field="*{statut.id}"/>-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group mb-0 row">
                            <div class="col-lg-3 text-right"><label class="my-2 py-1">Référence Lettre * : </label></div>
                            <div class="col-lg-9">
                                <input type="text" th:field="*{refLettre}"
                                        class="form-control js-to-upper" required
                                        placeholder="Entrer la référence de la lettre d'autorisation"/>
                            </div>
                        </div>

                        <div class="form-group mb-0 row">
                            <div class="col-lg-3 text-right"><label for="date-lettre" class="my-2 py-1">Date * :</label></div>
                            <div class="col-lg-9">
                                <input th:field="*{dateLettre}" class="form-control" required type="date" th:value="2023-02-24" placeholder="Entrer la date de la lettre d'autorisation" id="date-lettre">
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-lg-3 text-right"><label class="my-2 py-1">Objet * :</label></div>
                            <div class="col-lg-9">
                                <input  type="text" th:field="*{objetLettre}"
                                        class="form-control" required
                                        placeholder="Entrer l'objet de la lettre d'autorisation"/>
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-lg-3 text-right"><label class="my-2 py-1">Lieu :</label></div>
                            <div class="col-lg-9">
                                <input  type="text" th:field="*{lieuLettre}"
                                        class="form-control"
                                        placeholder="Entrer le lieu de la lettre d'autorisation"/>
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-lg-3 text-right"><label class="my-2 py-1">Résultat * :</label></div>
                            <div class="col-lg-9">
                                <select required class="select2 form-control custom-select" th:field="*{statut.id}">
                                    <option value="-1">Sélectionnez un résultat</option>
                                    <option th:each="stt : ${STATUTS_RESULTATS}" th:value="${stt.id}" th:text="${stt.libelle}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-lg-3 text-right"><label class="my-2 py-1">Limites (accords) : </label></div>
                            <div class="col-lg-9">
                                <textarea style="min-height: 100px; max-height: 150px;"
                                          th:field="*{limites}" class="form-control"
                                          rows="5" placeholder="Entrer les limites du compte"></textarea>
                            </div>
                        </div>


                    </div>
                    <div th:replace="~{fragments/includes.html :: formButtonsArea(offset = 3)}" class="card-footer"></div>
                </div>
            </div>
        </div>
    </form>
    <script>
        function runOnceAllLoaded() {
            $('#code').focus();
        }
    </script>
</section>
</body>
</html>
