<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Includes fragements</title>
</head>
<body>
   <div th:fragment="newEntityButtonArea" class="row">
      <div class="col-lg-12">
         <div class="card">
             <div class="card-body">
                 <a style="font-size: 1.2rem;" th:href="@{${LIEN_CREATE}}" class="btn btn-success btn-large mb-0">
                     <i class="mdi mdi-file-document"></i> <span th:utext="#{${lbl_ajouter}}"></span>
                 </a>
             </div>
         </div>
     </div>
   </div>

   <div th:fragment="formRequiredArea" class="row">
      <div class="col-lg-12">
         <div class="alert alert-info">
            Tous les champs suivis d'asterisques (<b style="color: red;">*</b>) sont obligatires
         </div>
     </div>
   </div>

   <div th:fragment="formButtonsArea(offset)" class="card-footer">
       <div class="js-error-block alert alert-danger text-center" style="font-size: 1.2rem; display: none;"></div>
       <div class="row">
           <div th:class="|col-lg-${offset}|"></div>
           <div th:class="|form-group mb-0 col-lg-${12 - offset}|">
               <div>
                   <button type="submit" style="font-size: 1.2rem;" class="col-md-3 btn btn-success waves-effect waves-light">
                       <span class="mdi mdi-content-save"></span>
                       <span th:utext="#{${lbl_add_btn}}"></span>
                   </button>
                   <a style="font-size: 1.2rem;" class="col-md-3 btn btn-primary waves-effect waves-light m-l-5" th:href="@{|/${listeUrl}|}">
                       <span class="mdi mdi-close-circle-outline"></span>
                       <span th:utext="#{${lbl_close_btn}}"></span>
                   </a>
               </div>
           </div>
       </div>
   </div>

   <div th:fragment="periodBar" class="row">
       <div class="col-lg-12">
<!--           <div class="form-horizontal box" style="margin-top: 20px">-->
           <div class="card">
               <div class="card-body">
                    <div id="daterange" class="form-group row">
                           <!-- Date debut de recherche -->
                           <label for="date-debut" class="my-2 py-1 control-label" th:text="#{MSG.date.periode.debut}"></label>
                           <div class="col-sm-2">
                               <input class="form-control" type="date" autocomplete="off" th:value="${DATE_DEBUT}" placeholder="jj/mm/aaaa" id="date-debut">
                           </div>


                           <!-- Date fin de recherche -->
                           <label for="date-fin" class="my-2 py-1 control-label" th:text="#{MSG.date.periode.fin}"> </label>
                           <div class="col-sm-2">
                               <input type="date" class="form-control" th:value="${DATE_FIN}" autocomplete="off"  id="date-fin" placeholder="jj/mm/aaaa" />
                           </div>

                           <!-- Boutons de recherche de recherche -->
                           <div class="col-sm-3">
                               <button type="button" id="search" class="btn btn-bleu-inv no-shadow btn-sm">
                                   <span class="fa fa-search" th:text="#{MSG.btn.filtrer}"></span>
                               </button>
                           </div>
                   </div>
               </div>
           </div>
<!--           </div>-->

           <!-- Messages d'erreur -->
           <div id="error-box" class="error global-error" style="margin-top: 5px"></div>
           <script type="text/javascript">
                $(document).ready(function() {
                    /** hide entete error div **/
                   // $('#first-err-div').hide();
                    //$('#second-err-div').hide();

                    // Formatage des dates
                    initDualDatePicker("#daterange", "#date-debut, #date-fin");
                });
                function initDualDatePicker(container, dateInputs, data) {
                    let defaults = getDatePickerDefaults();
                    defaults['inputs'] = $(getEltSelector(dateInputs));

                    let options = $.extend({}, defaults, data);

                    $(getEltSelector(container)).datepicker(options);
                }
           </script>
       </div>
   </div>
</body>
</html>