<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/headers.html :: htmlHeader(scope='pages')}">
    <meta charset="utf-8">
</head>
<body class="fixed-left">
<div id="preloader__">
    <div id="status__">
        <div class="spinner__"></div>
    </div>
</div>
<div class="loader-overlay">
    <div class="loader-wrapper">
        <div class="loader">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
            <div class="bar6"></div>
        </div>
        <div class="loader-text">Chargement...</div>
    </div>
</div>

<div id="wrapper">
    <div th:replace="~{fragments/leftmenu.html :: leftSideMenu}" class="left side-menu">
        Les entrées de mnenupour le site.
    </div>
    <div class="content-page">
        <div class="content">
            <div th:replace="~{fragments/topbar.html :: topBar}" class="topbar">
                La topbar, celle qui s'affiche sous la barre de navigation.
            </div>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div th:replace="~{fragments/topbar.html :: breadCrumbs(bread=${'Dashboard'})}" class="row"></div>
                    <section layout:fragment="core-content">
                        Affichage du contenu principal du site.
                    </section>
                </div>
            </div>
        </div>
        <footer th:replace="~{fragments/headers.html :: footerSite}" class="footer">
            Le pied de page du site.
        </footer>
    </div>
</div>
<div id="js-temp-message" style="dislay: none;"></div>
<section th:replace="~{fragments/headers.html :: footerAssests}">
    Ici sont chargés les assets JS libraries
</section>
</body>
</html>